/*
  Usage:
  Livingdocs component margin-bottom
*/
@mixin ld-margin-bottom($margin: $gutter, $selector: '*'){
  & + #{$selector}{
    margin-top: $margin;
  }
  & + .ns-anchor + #{$selector}{
    margin-top: $margin;
  }
}
