.ld-control {
  &,
  & * {
    position: initial;
  }
}

.ns-pdf-pagebreak {
  position: relative;
  display: none;
  width: 100%;
  height: 14px;
  border-bottom: 1px dashed $color-backend;
  border-top: 1px dashed $color-backend;
  line-height: 14px;
  text-align: center;
  color: $color-backend;
  font-size: 10px;
  page-break-before: always;
  clear: both;
  @include ld-margin-bottom();

  &:after {
    content: 'page break';
    display: inline-block;
    line-height: 14px;
  }

  &.doc-component {
    display: block;
  }
}

.ns-table,
.free-html,
.ns-video {
  &:empty {
    min-height: 100px;
    border: 1px dashed $color-backend;
  }
}
