
.js-responsive-table {
  position: relative;

  .clone {
    position: absolute;
    top: 0;
    pointer-events: none;
    width: 100%;

    th,
    td {
      visibility: hidden
    }

    tbody th {
      visibility: visible;
    }

    tr {

      td,
      th {
        &.fixed {
          visibility: visible;
          background: $fixed-col-background-color;
        }
      }
    }

    thead,
    tfoot {
      background: transparent;
    }
  }


  >div {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    table-layout: auto;
  }

  tr {
    td,
    th {
      &.fixed{
        background: $fixed-col-background-color;
        white-space: normal;
        width: auto;
        min-width: $fixed-col-min-width;
        max-width: $fixed-col-max-width;
        border-right: $fixed-col-border-right;
      }
    }
  }

  >div>div {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .unfixed{
  }
}

.nosplit {
  tr {
    td,
    th {
      &,
      &.fixed {
        width: auto;
        min-width: $nosplit-fixed-min-width;
        max-width: $nosplit-fixed-max-width;
      }

      &.fixed {
        border-right: none;
      }
    }
  }
}

.nswow-table {
  max-width: 100%;
}

// GENERAL SETTING, check if it causes an issue!
table {
  table-layout: fixed;
  border-collapse: collapse;
}
