$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-backend: #1dd1a1 !default;

$color-primary: #4bbb87 !default;
$color-secondary: #ff9663 !default;
$color-tertiary: #404851 !default;
