// FONT-FACE SETTINGS HERE

// TYPE-FACE SETTINGS
$font-sans-serif: 'Font Name (placeholder)', sans-serif !default;
$font-serif: 'Font Name (placeholder)', serif !default;

$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// FONT-SIZE SETTINGS
$font-settings-body: (
  null: (
    1.6rem,
    1.375
  ),
  md: (
    1.6rem,
    1.375
  ),
  print: (
    9pt,
    11pt
  )
) !default;

$font-settings-h1: (
  null: (
    4rem,
    1
  ),
  md: (
    8rem,
    1
  ),
  print: (
    30pt,
    30pt
  )
) !default;

$font-settings-h2: (
  null: (
    3rem,
    1.13333
  ),
  md: (
    5rem,
    1.2
  ),
  print: (
    18pt,
    24pt
  )
) !default;

$font-settings-h3: (
  null: (
    2.2rem,
    1.18
  ),
  md: (
    2.4rem,
    1.25
  ),
  print: (
    12pt,
    13pt
  )
) !default;

$font-settings-h4: (
  null: (
    1.6rem,
    1.375
  ),
  md: (
    1.6rem,
    1.375
  ),
  print: (
    9pt,
    11pt
  )
) !default;

$font-settings-h5: (
  null: (
    1.2rem,
    1.333
  ),
  md: (
    1.2rem,
    1.333
  ),
  print: (
    9pt,
    11pt
  )
) !default;
