$fixed-col-background-color: white !default;
$fixed-col-min-width: 30vw !default;
$fixed-col-max-width: 45vw !default;
$fixed-col-border-right: 4px solid $color-black !default;
$nosplit-fixed-min-width: 80px !default;
$nosplit-fixed-max-width: 30vw !default;
