.ns-title-h1 {
  @include font-size($font-settings-h1);
}

.ns-title-h2 {
  @include font-size($font-settings-h2);
}

.ns-title-h3 {
  @include font-size($font-settings-h3);
}

.ns-title-h4 {
  @include font-size($font-settings-h4);
}

.ns-title-h5 {
  @include font-size($font-settings-h5);
}
