body:not(.no-focus) :focus{
  outline: 0;
}
.ns-temp-highlight {
  background: rgba(yellow, .8);
}

.ns-anchor {
  border-bottom: 1px solid $color-backend;
  text-align: right;
  color: $color-backend;
  position: relative;
  font-size: 1.2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    background-image: url('#{$svg-path}/anchor-solid.svg');
    background-color: $color-backend;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    @include size(40px);
    position: absolute;
    top: 18px;
    right: 0px;
    z-index: 100;
  }

  + .ns-anchor {
    margin-top: 50px;
  }
}
